<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PhonebookApp.Domain.Properties.Settings.PhonebookDB"
            connectionString="Data Source=ether-ПК;Initial Catalog=testbase;Integrated Security=True" />
    </connectionStrings>
</configuration>